<a href="https://colab.research.google.com/github/ElenaMika/Exam/blob/main/%D0%9C%D0%B8%D1%85%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D0%B0_%D0%A4%D0%B8%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%D0%BF%D1%80%D0%BE%D0%B4%D0%BE%D0%BB%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_ipynb%22%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn in /usr/local/lib/python3.8/dist-packages (0.0.post1)

In [ ]:
from sklearn.cluster import AgglomerativeClustering
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True) 
togliatti = pd.read_csv('/content/drive/MyDrive/Питон/data_26_01_2023.csv', delimiter = ',', encoding= 'utf-8')
togliatti.tail(50)

Mounted at /content/drive

,Кол-во комнат,Район,Этажность,Общая площадь,Жилая площадь,Площадь кухни,Планировка,Цена
3868,2,Поволжский,4/4,54,29,9,УЛЬ/ПАН,2100 тыс. pуб.
3869,2,Поволжский,3/5,53,29,11,УЛЬ/ПАН,2300 тыс. pуб.
3870,3,Поволжский,8/9,62,42,2,МСК/ПАН,2100 тыс. pуб.
3871,3,Поволжский,7/9,66,42,9,МСК/ПАН,2100 тыс. pуб.
3872,3,Поволжский,9/9,66,42,8,МСК/ПАН,2200 тыс. pуб.
3873,3,Поволжский,1/5,69,47,9,УЛЬ/ПАН,2290 тыс. pуб.
3874,3,Поволжский,1/5,68,43,9,УЛЬ/ПАН,2300 тыс. pуб.
3875,3,Поволжский,7/9,68,42,9,МСК/ПАН,2400 тыс. pуб.
3876,3,Поволжский,1/5,68,40,9,УЛЬ/-,2480 тыс. pуб.
3877,3,Поволжский,3/4,68,42,9,УЛЬ/ПАН,2500 тыс. pуб.
3878,3,Поволжский,2/5,68,42,8,МСК/ПАН,2500 тыс. pуб.
3879,3,Поволжский,4/4,70,45,9,УЛЬ/ПАН,2600 тыс. pуб.
3880,3,Поволжский,7/9,68,44,9,ИЗЛ/КИР,2600 тыс. pуб.
3881,3,Поволжский,4/4,68,50,9,УЛЬ/ПАН,2600 тыс. pуб.
3882,3,Поволжский,4/4,68,42,9,УЛЬ/ПАН,2700 тыс. pуб.
3883,3,Поволжский,3/5,81,49,12,МАК/ПАН,3500 тыс. pуб.
3884,3,Поволжский,3/5,89,60,12,МАК/КИР,3600 тыс. pуб.
3885,4,Поволжский,5/5,86,60,9,МСК/ПАН,2700 тыс. pуб.
3886,1,"Сызранский, Междуреченск квартал",1/1,28,18,5,ХРУ/БЕТ,300 тыс. pуб.
3887,1,"Сызранский, Междуреченск квартал",1/5,36,19,10,УЛЬ/ПАН,353 тыс. pуб.
3888,1,"Сызранский, Междуреченск квартал",2/2,38,19,11,СТЛ/КИР,360 тыс. pуб.
3889,1,"Сызранский, Междуреченск квартал",5/5,31,17,8,УЛУ/КИР,433 тыс. pуб.
3890,1,"Сызранский, Междуреченск квартал",5/5,29,16,6,ХРУ/КИР,559 тыс. pуб.
3891,1,"Сызранский, Сызрань квартал",2/2,12,12,9,СТЛ/КИР,650 тыс. pуб.
3892,2,"Сызранский, Междуреченск квартал",1/2,46,0,6,УЛУ/КИР,250 тыс. pуб.
3893,2,"Сызранский, Междуреченск квартал",1/5,45,29,6,ХРУ/ПАН,350 тыс. pуб.
3894,2,"Сызранский, Междуреченск квартал",2/5,45,29,6,ХРУ/ПАН,430 тыс. pуб.
3895,2,"Сызранский, Междуреченск квартал",1/2,45,26,7,СТЛ/КИР,550 тыс. pуб.
3896,2,"Сызранский, Междуреченск квартал",2/2,44,28,8,СТЛ/КИР,560 тыс. pуб.
3897,2,"Сызранский, Междуреченск квартал",1/5,52,28,7,САМ/ПАН,780 тыс. pуб.
3898,2,"Сызранский, Междуреченск квартал",3/5,45,30,8,ХРУ/ПАН,780 тыс. pуб.
3899,2,"Сызранский, Междуреченск квартал",1/5,0,31,8,УЛУ/КИР,790 тыс. pуб.
3900,2,"Сызранский, Сызрань квартал",2/2,44,30,7,ХРУ/ПАН,1439 тыс. pуб.
3901,2,"Сызранский, Междуреченск квартал",2/2,55,40,9,СТЛ/КИР,1500 тыс. pуб.
3902,3,"Сызранский, Междуреченск квартал",1/4,58,45,8,УЛУ/ПАН,400 тыс. pуб.
3903,3,"Сызранский, Междуреченск квартал",3/4,43,29,6,ХРУ/КИР,900 тыс. pуб.
3904,3,"Сызранский, Междуреченск квартал",1/5,59,40,7,УЛУ/ПАН,1300 тыс. pуб.
3905,4,"Сызранский, Междуреченск квартал",1/5,84,56,10,УЛУ/ПАН,1000 тыс. pуб.
3906,4,"Сызранский, Междуреченск квартал",1/5,82,51,15,УЛЬ/ПАН,1200 тыс. pуб.
3907,1,"Автозаводский, 2 квартал",2/5,29,14,7,СТМ/ПАН,договорная
3908,1,"Автозаводский, 21 квартал",6/8,33,17,9,МСК/ПАН,договорная
3909,2,"Автозаводский, 5 квартал",1/5,45,29,8,СТМ/ПАН,договорная
3910,2,"Автозаводский, 8 квартал",9/9,59,34,11,МАК/ПАН,договорная
3911,2,"Автозаводский, 6А квартал",7/16,54,35,13,МАК/ПАН,договорная
3912,2,"Автозаводский, 7 квартал",3/9,45,29,7,СТМ/ПАН,договорная
3913,2,"Автозаводский, 21 квартал",8/8,88,28,22,УЛУ/ПАН,договорная
3914,3,"Автозаводский, 17 квартал",2/9,73,44,12,УЛЬ/ПАН,договорная
3915,4,"Автозаводский, 3В квартал",6/14,150,90,25,УЛУ/КИР,договорная
3916,1,Центральный,2/5,12,0,0,ХРУ/КИР,договорная
3917,1,"Сызранский, Междуреченск квартал",2/5,30,18,8,ХРУ/ПАН,договорная

Очистим данные

In [ ]:
# данные, разделенные запятой в столбце "Район", сохраним в разные столбцы ('Район_' и 'Квартал') и удалим исходный столбец
togliatti_new = togliatti['Район'].str.split(',',expand=True)
togliatti_new.columns=['Район_','Квартал']
for column in togliatti_new.columns:
    togliatti_new[column] = togliatti_new[column].str.replace(column+',','')
togliatti_final = pd.concat([togliatti,togliatti_new],axis=1).drop('Район',axis=1)

# удалим нечисловые значения из столбца 'Цена' и удалим строки, которые не содержат чисел в столбце 'Цена'
for column in togliatti_final.columns:
    togliatti_final['Цена'] = togliatti_final['Цена'].str.extract('([0-9]+)')
togliatti_final = togliatti_final.dropna()
togliatti_final = togliatti_final.drop_duplicates()

# удалим нечисловые значения из столбца 'Жилая площадь' и удалим строки, которые не содержат чисел в столбце 'Жилая площадь'
for column in togliatti_final.columns:
    togliatti_final['Жилая площадь'] = togliatti_final['Жилая площадь'].astype(str).str.extract('([0-9]+)')

# удалим из датафрейма районы, которые не относятся к г.о.Тольятти
togliatti_final = togliatti_final.loc[togliatti_final['Район_'] != 'Жигулевск']
togliatti_final = togliatti_final.loc[togliatti_final['Район_'] != 'Шигонский']
togliatti_final = togliatti_final.loc[togliatti_final['Район_'] != 'Сызранский']
togliatti_final = togliatti_final.loc[togliatti_final['Район_'] != 'Ставропольский']

# оставим только числа в столбце "Квартал"
for column in togliatti_final.columns:
    togliatti_final['Квартал'] = togliatti_final['Квартал'].str.extract('([0-9]+)')

# данные, разделенные слешем в столбце "Этажность", сохраним в разные столбцы ('Этаж' и 'Всего этажей') и удалим исходный столбец
togliatti_final[['Этаж','Всего этажей']] = togliatti_final['Этажность'].str.split('/', 1, expand=True)

togliatti_final1 = togliatti_final.drop('Этажность',axis=1)

# данные, разделенные слешем в столбце "Планировка", сохраним в разные столбцы ('Планировка_' и 'Материал стен') и удалим исходный столбец
togliatti_final1[['Планировка_','Материал стен']] = togliatti_final1['Планировка'].str.split('/', 1, expand=True)

togliatti_final2 = togliatti_final1.drop('Планировка',axis=1)

togliatti_final2.head(100)

,Кол-во комнат,Общая площадь,Жилая площадь,Площадь кухни,Цена,Район_,Квартал,Этаж,Всего этажей,Планировка_,Материал стен
0,1,34,13,4,500,Автозаводский,31,8,12,УЛУ,КИР
1,1,13,13,1,500,Автозаводский,12,9,9,ИЗЛ,КИР
2,1,29,0,16,1100,Автозаводский,12,1,9,ГСТ,КИР
3,1,16,16,2,1199,Автозаводский,4,1,9,МСК,ПАН
4,1,46,19,6,1250,Автозаводский,9,5,9,ЭКС,ПАН
...,...,...,...,...,...,...,...,...,...,...,...
95,1,32,0,0,2250,Автозаводский,10,4,5,СТМ,ПАН
96,1,34,19,10,2250,Автозаводский,10,6,12,ОЛМ,ПАН
97,1,33,17,8,2250,Автозаводский,14,7,9,МСК,КИР
98,1,32,17,8,2250,Автозаводский,12,11,12,ТАШ,ПАН
99,1,33,17,9,2250,Автозаводский,12,1,9,МСК,ПАН

In [ ]:
togliatti_final2 = togliatti_final2.rename(columns={"Планировка_": "plan"}) # временно поменяем название столбца "Планировка_" на англоязычное
marks_list1 = togliatti_final2.plan.unique() # посмотрим, какие есть варианты планировки.
marks_list1.sort()
print(marks_list1)    # выведем список всех уникальных значений
mapping = []
for i in range(1, (len(marks_list1)+1)):   # создадим список состоящий из чисел от 1 до количества уникальных значений в столбце "plan"
  mapping.append(i)
print(mapping)

['?' 'ГСТ' 'ИЗЛ' 'ЛЕН' 'МАК' 'МОН' 'МСК' 'ОЛМ' 'САМ' 'СМР' 'СТМ' 'ТАШ'
 'ТРМ' 'УЛУ' 'УЛЬ' 'ХРУ' 'ЭКС' 'ЭЛТ']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [ ]:
myDict = {marks_list1[i]: mapping[i] for i in range(len(marks_list1))}    # создадим словарь, в котором каждому значению присвоим число
print(myDict)

{'?': 1, 'ГСТ': 2, 'ИЗЛ': 3, 'ЛЕН': 4, 'МАК': 5, 'МОН': 6, 'МСК': 7, 'ОЛМ': 8, 'САМ': 9, 'СМР': 10, 'СТМ': 11, 'ТАШ': 12, 'ТРМ': 13, 'УЛУ': 14, 'УЛЬ': 15, 'ХРУ': 16, 'ЭКС': 17, 'ЭЛТ': 18}

In [ ]:
togliatti_final2 = togliatti_final2.replace({'plan': myDict})   # заменим буквенное обозначение на порядковый номер в столбце "plan"
togliatti_final2.head()

,Кол-во комнат,Общая площадь,Жилая площадь,Площадь кухни,Цена,Район_,Квартал,Этаж,Всего этажей,plan,Материал стен
0,1,34,13,4,500,Автозаводский,31,8,12,14,КИР
1,1,13,13,1,500,Автозаводский,12,9,9,3,КИР
2,1,29,0,16,1100,Автозаводский,12,1,9,2,КИР
3,1,16,16,2,1199,Автозаводский,4,1,9,7,ПАН
4,1,46,19,6,1250,Автозаводский,9,5,9,17,ПАН

In [ ]:
togliatti_final2 = togliatti_final2.rename(columns={"Материал стен": "wall"}) # временно поменяем название столбца "Материал стен" на англоязычное
togliatti_final2.head()

,Кол-во комнат,Общая площадь,Жилая площадь,Площадь кухни,Цена,Район_,Квартал,Этаж,Всего этажей,plan,wall
0,1,34,13,4,500,Автозаводский,31,8,12,14,КИР
1,1,13,13,1,500,Автозаводский,12,9,9,3,КИР
2,1,29,0,16,1100,Автозаводский,12,1,9,2,КИР
3,1,16,16,2,1199,Автозаводский,4,1,9,7,ПАН
4,1,46,19,6,1250,Автозаводский,9,5,9,17,ПАН

In [ ]:
marks_list2 = togliatti_final2.wall.unique() # посмотрим, какие есть варианты материала стен.
marks_list2.sort()
print(marks_list2)    # выведем список всех уникальных значений
mapping2 = []
for i in range(1, (len(marks_list2)+1)):   # создадим список состоящий из чисел от 1 до количества уникальных значений в столбце "walls"
  mapping2.append(i)
print(mapping2)

['-' '?' 'БЕТ' 'БЛЧ' 'КИР' 'КРБ' 'МОН' 'ПАН' 'СЛК']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
myDict2 = {marks_list2[i]: mapping2[i] for i in range(len(marks_list2))}    # создадим словарь, в котором каждому значению присвоим число
print(myDict2)

{'-': 1, '?': 2, 'БЕТ': 3, 'БЛЧ': 4, 'КИР': 5, 'КРБ': 6, 'МОН': 7, 'ПАН': 8, 'СЛК': 9}

In [ ]:
togliatti_final2 = togliatti_final2.replace({'wall': myDict2})   # заменим буквенное обозначение на порядковый номер в столбце "walls"
togliatti_final2.head()

,Кол-во комнат,Общая площадь,Жилая площадь,Площадь кухни,Цена,Район_,Квартал,Этаж,Всего этажей,plan,wall
0,1,34,13,4,500,Автозаводский,31,8,12,14,5
1,1,13,13,1,500,Автозаводский,12,9,9,3,5
2,1,29,0,16,1100,Автозаводский,12,1,9,2,5
3,1,16,16,2,1199,Автозаводский,4,1,9,7,8
4,1,46,19,6,1250,Автозаводский,9,5,9,17,8

In [ ]:
togliatti_final2 = togliatti_final2.rename(columns={"Район_": "district1"}) # временно поменяем название столбца "Район_" на англоязычное
marks_list3 = togliatti_final2.district1.unique() # посмотрим, какие есть варианты.
marks_list3.sort()
print(marks_list3)    # выведем список всех уникальных значений
mapping3 = []
for i in range(1, (len(marks_list3)+1)):   # создадим список состоящий из чисел от 1 до количества уникальных значений в столбце "district1"
  mapping3.append(i)
print(mapping3)

['Автозаводский' 'Центральный']
[1, 2]

In [ ]:
myDict3 = {marks_list3[i]: mapping3[i] for i in range(len(marks_list3))}    # создадим словарь, в котором каждому значению присвоим число
print(myDict3)

{'Автозаводский': 1, 'Центральный': 2}

In [ ]:
togliatti_final2 = togliatti_final2.replace({'district1': myDict3})   # заменим буквенное обозначение на порядковый номер в столбце "district"
togliatti_final2.head()

,Кол-во комнат,Общая площадь,Жилая площадь,Площадь кухни,Цена,district1,Квартал,Этаж,Всего этажей,plan,wall
0,1,34,13,4,500,1,31,8,12,14,5
1,1,13,13,1,500,1,12,9,9,3,5
2,1,29,0,16,1100,1,12,1,9,2,5
3,1,16,16,2,1199,1,4,1,9,7,8
4,1,46,19,6,1250,1,9,5,9,17,8

In [ ]:
togliatti_final2 = togliatti_final2.rename(columns={"district1": "Район"})
togliatti_final2 = togliatti_final2.rename(columns={"wall": "Материал стен"})
togliatti_final2 = togliatti_final2.rename(columns={"plan": "Планировка"})
togliatti_final2.head(100)

,Кол-во комнат,Общая площадь,Жилая площадь,Площадь кухни,Цена,Район,Квартал,Этаж,Всего этажей,Планировка,Материал стен
0,1,34,13,4,500,1,31,8,12,14,5
1,1,13,13,1,500,1,12,9,9,3,5
2,1,29,0,16,1100,1,12,1,9,2,5
3,1,16,16,2,1199,1,4,1,9,7,8
4,1,46,19,6,1250,1,9,5,9,17,8
...,...,...,...,...,...,...,...,...,...,...,...
95,1,32,0,0,2250,1,10,4,5,11,8
96,1,34,19,10,2250,1,10,6,12,8,8
97,1,33,17,8,2250,1,14,7,9,7,5
98,1,32,17,8,2250,1,12,11,12,12,8
99,1,33,17,9,2250,1,12,1,9,7,8

In [ ]:
togliatti_final2 = togliatti_final2[['Кол-во комнат', 'Общая площадь',	'Жилая площадь',	'Площадь кухни',	'Район',	'Квартал',	'Этаж',	'Всего этажей',	'Планировка',	'Материал стен', 'Цена']]
togliatti_final2.head(5) # переместим столбец "Цена" в конец датафрейма

,Кол-во комнат,Общая площадь,Жилая площадь,Площадь кухни,Район,Квартал,Этаж,Всего этажей,Планировка,Материал стен,Цена
0,1,34,13,4,1,31,8,12,14,5,500
1,1,13,13,1,1,12,9,9,3,5,500
2,1,29,0,16,1,12,1,9,2,5,1100
3,1,16,16,2,1,4,1,9,7,8,1199
4,1,46,19,6,1,9,5,9,17,8,1250

In [ ]:
togliatti_final2 = togliatti_final2.rename(columns={"Цена": "price"}) # поменяем название столбца "Цена" на англоязычное
togliatti_final2.head()

,Кол-во комнат,Общая площадь,Жилая площадь,Площадь кухни,Район,Квартал,Этаж,Всего этажей,Планировка,Материал стен,price
0,1,34,13,4,1,31,8,12,14,5,500
1,1,13,13,1,1,12,9,9,3,5,500
2,1,29,0,16,1,12,1,9,2,5,1100
3,1,16,16,2,1,4,1,9,7,8,1199
4,1,46,19,6,1,9,5,9,17,8,1250

In [ ]:
togliatti_final2.info() # проверим, какие типы данных в датафрейме

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2032 entries, 0 to 2940
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Кол-во комнат  2032 non-null   int64
 1   Общая площадь  2032 non-null   int64
 2   Жилая площадь  2032 non-null   object
 3   Площадь кухни  2032 non-null   int64
 4   Район          2032 non-null   int64
 5   Квартал        2032 non-null   object
 6   Этаж           2032 non-null   object
 7   Всего этажей   2032 non-null   object
 8   Планировка     2032 non-null   int64
 9   Материал стен  2032 non-null   int64
 10  price          2032 non-null   object
dtypes: int64(6), object(5)
memory usage: 190.5+ KB

In [ ]:
togliatti_final2 = togliatti_final2.astype({'Жилая площадь': int, 'Квартал': int,'Этаж': int,'Всего этажей': int, 'price': int}) # в тех столбцах, где тип данных не числовой, поменяем его на целочисленный тип

In [ ]:
togliatti_final2.info() # сделаем повторную проверку

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2032 entries, 0 to 2940
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Кол-во комнат  2032 non-null   int64
 1   Общая площадь  2032 non-null   int64
 2   Жилая площадь  2032 non-null   int64
 3   Площадь кухни  2032 non-null   int64
 4   Район          2032 non-null   int64
 5   Квартал        2032 non-null   int64
 6   Этаж           2032 non-null   int64
 7   Всего этажей   2032 non-null   int64
 8   Планировка     2032 non-null   int64
 9   Материал стен  2032 non-null   int64
 10  price          2032 non-null   int64
dtypes: int64(11)
memory usage: 190.5 KB

In [ ]:
prices = togliatti_final2['price']
features = togliatti_final2.drop('price', axis = 1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(features, prices)

RandomForestClassifier()

In [ ]:
while True:
    try:
      room = int(input('Введите количество комнат:  '))
    except ValueError:
        print("Количество комнат должна быть числом.")
        continue  
    else:
        break

Введите количество комнат:  1

In [ ]:
while True:
    try:
        area = int(input('Введите общую площадь квартиры (м.кв.):  '))
    except ValueError:
        print("Площадь квартиры должна быть числом.")
        continue  
    else:
        break

Введите общую площадь квартиры (м.кв.):  52

In [ ]:
while True:
    try:
        living = int(input('Введите жилую площадь квартиры (м.кв.):  '))
    except ValueError:
        print("Жилая площадь квартиры должна быть числом.")
        continue  
    else:
        break

Введите жилую площадь квартиры (м.кв.):  24

In [ ]:
while True:
    try:
      kitchen = int(input('Введите площадь кухни (м.кв.):  '))
    except ValueError:
        print("Площадь кухни должна быть числом.")
        continue  
    else:
        break

Введите площадь кухни (м.кв.):  13

In [ ]:
while True:
    try:
        print('Выберите код района: ')
        for item, amount in myDict3.items(): 
            print("{} ({})".format(item, amount))  
        district = int(input())
        if 1 <= district <= len(myDict3):
            break
        else:
            print('Выберите один из предложенных вариантов')
        continue
    except ValueError:
        print("Код района должен быть числом.")
        continue  
    else:
        break

Выберите код района:
Автозаводский (1)
Центральный (2)
1

In [ ]:
while True:
    try:
      block = int(input('Введите номер квартала:  '))
    except ValueError:
        print("Номер квартала должен быть числом.")
        continue  
    else:
        break

Введите номер квартала:  15

In [ ]:
while True:
    try:
      floor = int(input('Введите этаж:  '))
    except ValueError:
        print("Этаж должен быть числом.")
        continue  
    else:
        break

Введите этаж:  9

In [ ]:
while True:
    try:
      all = int(input('Введите количество этажей в доме:  '))
    except ValueError:
        print("Количество этажей в доме должен быть числом.")
        continue  
    else:
        break

Введите количество этажей в доме:  9

In [ ]:
while True:
    try:
        print('Выберите код планировки: ')
        for item, amount in myDict.items(): 
            print("{} ({})".format(item, amount))  
        plan = int(input())
        if 1 <= plan <= len(myDict):
            break
        else:
            print('Выберите один из предложенных вариантов')
        continue
    except ValueError:
        print("Код планировки должен быть числом.")
        continue  
    else:
        break

Выберите код планировки:
? (1)
ГСТ (2)
ИЗЛ (3)
ЛЕН (4)
МАК (5)
МОН (6)
МСК (7)
ОЛМ (8)
САМ (9)
СМР (10)
СТМ (11)
ТАШ (12)
ТРМ (13)
УЛУ (14)
УЛЬ (15)
ХРУ (16)
ЭКС (17)
ЭЛТ (18)
14

In [ ]:
while True:
    try:
        print('Выберите код материала стен: ')
        for item, amount in myDict2.items(): 
            print("{} ({})".format(item, amount))  
        walls = int(input())
        if 1 <= walls <= len(myDict2):
            break
        else:
            print('Выберите один из предложенных вариантов')
        continue
    except ValueError:
        print("Код материала стен должен быть числом.")
        continue  
    else:
        break

Выберите код материала стен:
- (1)
? (2)
БЕТ (3)
БЛЧ (4)
КИР (5)
КРБ (6)
МОН (7)
ПАН (8)
СЛК (9)
5

In [ ]:
example = np.array([room, area,	living,	kitchen,	district,	block,	floor,	all,	plan, walls])
example_df = pd.DataFrame([example], columns = ['Кол-во комнат', 'Общая площадь',	'Жилая площадь',	'Площадь кухни',	'Район',	'Квартал',	'Этаж',	'Всего этажей',	'Планировка',	'Материал стен'])
app_price = model.predict(example_df)

m1 = {v:k for k,v in myDict.items()}
m2 = {a:b for b,a in myDict2.items()}
m3 = {c:d for d,c in myDict3.items()}
example_df = example_df.replace({'Планировка': m1, 'Материал стен': m2, 'Район': m3})   # заменим цифровое обозначение на буквенное в столбце "Планировка"

print(f'Примерная стоимость указанной ниже квартиры {app_price} тыс. руб.')
example_df.head()

Примерная стоимость указанной ниже квартиры [3200] тыс. руб.

,Кол-во комнат,Общая площадь,Жилая площадь,Площадь кухни,Район,Квартал,Этаж,Всего этажей,Планировка,Материал стен
0,1,52,24,13,Автозаводский,15,9,9,УЛУ,КИР